<dl>
	<dt><label for="first_post_always_show">{{ lang('FIRST_POST_ALWAYS_SHOW') }}{{ lang('COLON') }}</label><br /><span>{{ lang('FIRST_POST_ALWAYS_SHOW_EXPLAIN') }}</span></dt>
	<dd><label><input type="radio" class="radio" name="first_post_always_show" value="1"{% if S_FIRST_POST_ALWAYS_SHOW %} id="first_post_always_show" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
		<label><input type="radio" class="radio" name="first_post_always_show" value="0"{% if not S_FIRST_POST_ALWAYS_SHOW %} id="first_post_always_show" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
	</dd>
</dl>
